*{
    background-color: black;

}

.clock-div{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    
    

}


.myClock{
    font-family: sans-serif;
    color: #fff;
    font-size: 50px;
    text-shadow: 0 0 10px #00b3ff,
                  0 0 20px #00b3ff,
                  0 0 40px #00b3ff,
                  0 0 80px #00b3ff,
                  0 0 120px #00b3ff;
    

}
